:root {
  --primary-color: rgba(0, 0, 0, 0.87);
  --second-color: rgba(0, 0, 0, 0.54);
  --background-color: #FFFFFF;
  --text-color: #535353;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 1;
  width: 100vmax;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
}

header > div{
  display: inline-block;
}

.header--burger {
  position: absolute;
  left: 19px;
  top: 14px;
  bottom: 22px;
}

.header--burger div {
  width: 18px;
  height: 3px;
  background-color: var(--second-color);
}

.header--burger div:nth-child(2) {
  margin: 2px 0;
}

.header--name {
  position: absolute;
  color: var(--primary-color);
  width: 170px;
  height: 24px;
  left: 72px;
  top: 8px;
}

.header--name a {
  text-decoration: none;
  color: var(--primary-color);
}

.header--name a span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.header--dots-menu {
  position: absolute;
  width: 12px;
  height: 24px;
  right: 20px;
  top: 12px;
}

.header--dots-menu div {
  background-color: var(--second-color);
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.header--dots-menu div:nth-child(2) {
  margin: 2px 0;
}


main {
  display: block;
}

.palette--tools {
  position: absolute;
  width: 228px;
  height: 246px;
  left: 29px;
  top: 127px;
  background: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}


.palette--color {
  position: absolute;
  width: 228px;
  height: 246px;
  left: 29px;
  top: 465px;
  background: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.main-container-canvas {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  height: 92%;
  width: 70%;
  max-height: 731px;
  max-width: 725px;
  left: 518px;
  top: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
}

.main-container-canvas__square {
  background: var(--second-color);
}

.main-container-canvas__circle {
  border-radius: 50%;
  background: var(--second-color);
}

.figure:hover {
  cursor: pointer;
}

